@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="container">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>@((appSettingsBase as AppSettings).Title)</p>
    <hr />
    <b>Admin Girişi Kullanıcı Adı: </b>admin@admin.com
    <br />
    <b>Admin Girişi Şifresi: </b>admin
    <hr />
    <b>Kullanıcı Girişi Kullanıcı Adı: </b>kullanici@kullanici.com
    <br />
    <b>Kullanıcı Girişi Şifresi: </b>kullanici
</div>
